.inline-edit{
    display: inline-block;
    height: 36px;
}

.inline-edit .display-text{
    display: inline-block;
    min-width: 40px;
    min-height: 20px;
}
.inline-edit .edit-input{
    position: relative;
    top: 5px;
    margin-right: 5px;
}
